<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.monoapps.store">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@android:drawable/btn_radio"
        android:theme="@android:style/Theme.Material">
        <activity
            android:name="co.monoapps.store.activities.AProductos"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.monoapps.store.activities.AProductoDetail"
            android:label="@string/title_wrine_detail"
            android:parentActivityName="co.monoapps.store.activities.AProductos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.monoapps.store.activities.AProductos" />
        </activity>
        <activity
            android:name="co.monoapps.store.activities.ACategorias"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
